﻿/*http://www.red-team-design.com/wp-content/uploads/2011/09/awesome-css3-buttons.html
*/
.button
{
    display: inline-block;
    white-space: nowrap;
    background-color: #E31836;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e76f81), to(#E31836));
    background-image: -webkit-linear-gradient(top, #e76f81, #E31836);
    background-image: -moz-linear-gradient(top, #e76f81, #E31836);
    background-image: -ms-linear-gradient(top, #e76f81, #E31836);
    background-image: -o-linear-gradient(top, #e76f81, #E31836);
    background-image: linear-gradient(top, #e76f81, #E31836);
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1.8em/1.8em Arial, Helvetica;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;
    -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover
{
    background-color: #f34e66;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
    background-image: -webkit-linear-gradient(top, #f39eaa, #f34e66);
    background-image: -moz-linear-gradient(top, #f39eaa, #f34e66);
    background-image: -ms-linear-gradient(top, #f39eaa, #f34e66);
    background-image: -o-linear-gradient(top, #f39eaa, #f34e66);
    background-image: linear-gradient(top, #f39eaa, #f34e66);
}

.button:active
{
    -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.button:focus
{
    outline: 0;
    background: #fafafa;
}

.button:before
{
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -moz-border-radius: .15em 0 0 .15em;
    -webkit-border-radius: .15em 0 0 .15em;
    border-radius: .15em 0 0 .15em;
    pointer-events: none;
}

/* Buttons and inputs */

button.button, input.button
{
    cursor: pointer;
    overflow: visible; /* removes extra side spacing in IE */
}

/* removes extra inner spacing in Firefox */
button::-moz-focus-inner
{
    border: 0;
    padding: 0;
}

/* If line-height can't be modified, then fix Firefox spacing with padding */
input::-moz-focus-inner
{
    padding: .4em;
}

/* The disabled styles */
.button[disabled], .button[disabled]:hover, .button.disabled, .button.disabled:hover
{
    background: #eee;
    color: #aaa;
    border-color: #aaa;
    cursor: default;
    text-shadow: none;
    position: static;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.green
{
    background-color: #2de318!important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#94e38b), to(#2de318))!important;
    background-image: -webkit-linear-gradient(top, #94e38b, #2de318)!important;
    background-image: -moz-linear-gradient(top, #94e38b, #2de318)!important;
    background-image: -ms-linear-gradient(top, #94e38b, #2de318)!important;
    background-image: -o-linear-gradient(top, #94e38b, #2de318)!important;
    background-image: linear-gradient(top, #94e38b, #2de318)!important;
}

.gray 
{
        color: #000;
        background-color: #ddd!important;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc))!important;
        background-image: -webkit-linear-gradient(top, #eee, #ccc)!important;
        background-image: -moz-linear-gradient(top, #eee, #ccc)!important;
        background-image: -ms-linear-gradient(top, #eee, #ccc)!important;
        background-image: -o-linear-gradient(top, #eee, #ccc)!important;
        background-image: linear-gradient(top, #eee, #ccc)!important;
}

.gray:hover
    {
        background-color: #eee!important;        
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd))!important;
        background-image: -webkit-linear-gradient(top, #fafafa, #ddd)!important;
        background-image: -moz-linear-gradient(top, #fafafa, #ddd)!important;
        background-image: -ms-linear-gradient(top, #fafafa, #ddd)!important;
        background-image: -o-linear-gradient(top, #fafafa, #ddd)!important;
        background-image: linear-gradient(top, #fafafa, #ddd)!important;
    }

/* Hexadecimal entities for the icons */

.add:before
{
    content: "\271A";
}

.edit:before
{
    content: "\270E";
}

.delete:before
{
    content: "\2718";
}

.save:before
{
    content: "\2714";
}

.email:before
{
    content: "\2709";
}

.like:before
{
    content: "\2764";
}

.next:before
{
    content: "\279C";
}

.star:before
{
    content: "\2605";
}

.spark:before
{
    content: "\2737";
}

.play:before
{
    content: "\25B6";
}

