
.slides {
    margin-left: 0px;
    height: 289px;
}
.slides,.slide {
    list-style: none;
}
.slide {
    display: none;
}

.carousel
{
    width: 100%;
    padding-bottom: 20px;
}

.marketbox
{
    width: 22.05%;
}

.carouselMenu
{
    position: relative;
}

.carouselItem
{
}

.teaserDiv
{
    font-family: Calibri, Arial, sans-serif;
    position: absolute;
    top: 0;
    width: 453px;
    height: 86%;
    margin-left: 20px;
    margin-top: 20px;
    background-repeat: repeat;
}

.teaserDiv h2
{
    font-size: 250%;
    color: #FFF;
    padding: 5px 5px 5px 30px;
    margin-top: 10px;
    margin-left: -30px;
  border-bottom:15px solid #FFF;
}
.teaserTitle
{
    font-size: 205%;
    text-transform: sentance;
    font-weight: bold;
}
.teaserDiv p
{
    color: #fff;
    font-size: 18px;
    padding: 0px 20px 10px 5px;
    margin-bottom: 10px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0px!important;
}
.teaserDiv a
{
    position: absolute;
    font-size: 160%;
    bottom: 5%;
    padding: 10px 20px 10px 0px;
}
.bannerAdverttext
{
    
    color: #FFF;
    margin-top: -20px;
    margin-left: 0px;
    padding-top: 30px;
    padding-left: 0px;
    padding-bottom: 50px;
    font-weight: normal;
    font-size: 18px;
    
}

.bannerTitle
{
}

.bannerBtn
{
    float: left;
}






.productTitle{
    font-size: 205%;
    text-transform: sentance;
    font-weight: normal;
}
















text shadow
{
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);}










/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
