﻿h2 {
    padding-top: 20px;
    line-height: 16px;
}

#tilmelding h1 {
    text-align: left;
    margin-left: 74px;
}
#tilmelding a.button {
    font-size: 135%;
    margin-left: 0px;
}
#tilmelding p {
    margin-top: 0px;
}
#hvornår,#hvormeget {
    font-size: 140%;
}

#deltagere ul {
    list-style: none
}
#deltagere ul li {
    line-height: 50px;
    vertical-align: middle;
    font-weight: bold;
}
#deltagere ul li img {
    margin-right: 10px;
}
.knapDiv {
    height: 69px;
}