﻿
.heading h2 {
    line-height: 64px;
    text-align: center;
}
/* Search Layout */
#content {
    margin: 20px auto 13px;
    border: #dedede solid 1px;
    border-radius: 6px;
    background: #f7f7f7 url(../../images/background/content_column_bg.png) repeat-y;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


/* Search Filters */
.filter > h3 {
    margin-bottom: 7px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color: #404040;
    background-repeat: no-repeat;
    background-position: 0 center;
}

#filter_date > h3 { background-image: url(/image/filter_icon_date-trans.png); }
#filter_price > h3 { background-image: url(/image/filter_icon_price-trans.png); }
#filter_category > h3 { background-image: url(/image/filter_icon_cat-trans.png); }
#filter_city > h3 { background-image: url(/image/filter_icon_city-trans.png); }

.filter > ul {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: #e0e0e0 solid 1px;
    box-shadow: 0 1px 1px #fefefe;
}

.filter > ul > li {
    overflow: hidden;
}

.filter > ul > li > span {
    color: #b9b9b9;
}

.filter > ul > .active {
    margin: 0;
    padding-left: 20px;
    border-radius: 3px;
    background: #ededed;
}

.filter > ul > .active > span {
    color: #666;
}
.filter a {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #40453A;
    font-weight: bold;
    font-size: 180%;
} 
.filter > ul > .active > a {
    color: #666;
}

.filter > ul > .active > a:hover {
    text-decoration: none;
}

#rss {
    display: block;
    width: 115px;
    padding-left: 20px;
    line-height: 18px;
    background: url(/image/rss_subscribe_icon-trans.png) no-repeat 0 2px;
}


/* Search Bar */
#search_bar {
    padding: 16px 30px 12px;
    background: url(/image/pattern_grey_white_squiggle.png) repeat-x 0 bottom;
}

#search_bar input {
    float: left;
    margin: 0 18px 12px 0;
    vertical-align: top;
    position: relative;
    color: #bababa;
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-position: 10px center;
}

#search_bar input:focus {
    color: #666;
    background-color: #fff;
    box-shadow: 0 0 2px #ffde81;
}

#search_bar #q {
    width: 247px;
    padding: 9px 10px 8px 33px;
    background-image: url(/image/search_glass-trans.png);
}

#search_bar #q:focus { /* FOLLOW-UP */
    background-image: url(/image/search_glass_blue-trans.png);
}

#search_bar #cityfield {
    width: 250px;
    padding: 9px 10px 8px 30px;
    background-image: url(/image/loc_marker-trans.png);
    background-position: 11px center;
}

#search_bar #cityfield:focus { /* FOLLOW-UP */
    background-image: url(/image/loc_marker_blue-trans.png);
}

#search_button {
    height: 26px;
    margin-bottom: 12px;
    padding: 2px 25px;
    line-height: 26px;
}


/* Search Bar - Autocomplete */

.ui-autocomplete,
.pac-container {
    width: 290px;
    border: 0;
    background: #f7f7f7;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.pac-container {
    margin-left: 2px;
}

.ui-menu-item > a,
.pac-item {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 12px 10px 12px 33px;
    text-decoration: none;
    color: #666;
    border: #f7f7f7 solid 1px;
    border-top: #fff solid 1px;
    border-bottom: #dedede solid 1px;
}

.pac-item:hover {
    background: #f7f7f7;
}

.ui-menu-item:first-child > a,
.pac-item:first-child {
    border-top: 0;
}

.ui-menu-item > .ui-state-hover,
.pac-selected {
    cursor: pointer;
    text-decoration: none;
    border: #f0eaaf solid 1px;
    background: #fdf9cf !important;
}


/* Search Results - Header */
#search_results {
    padding: 24px 30px;
}

#search_results > h2 {
    width: 500px;
    margin: -5px 0 20px;
    line-height: 25px;
}

#search_results > h2 > span {
    display: block;
    margin-bottom: -3px;
    font-size: 12px;
    font-weight: 400;
    color: #666;
}

#sort_results {
    position: absolute;
    top: 24px;
    right: 30px;
    font-weight: 600;
}


/* Search Results - Listing */
.event_listing {
    width: 100%;
}
.event_listing a.button.add {
    font-size: 135%;
}

.event {
    line-height: 20px;
    word-wrap: break-word;
    border-top: #ededed solid 1px;
}

.event > td {
    padding: 15px 0;
    vertical-align: top;
}

.event > .date {
    min-width: 70px;
    *width: 70px;
    padding-right: 10px;
    padding-left: 10px;
}

td.event_ico {
    width: 32px;
}

.date > strong {
    display: block;
    text-transform: uppercase;
    color: #404040;
}

.event > .info {
    width: 76%;
}
.event > .info a{
    text-decoration: none;
    font-size: 150%;
}

a.dannebrog
{
    position: relative;
    bottom: -1em;
    font-size: 200%;
    font-family: 'PT Sans', Arial, sans-serif;
    text-decoration: none;
    padding: 5px;
    color: #fff;
    text-shadow: 1px 1px 0px #283744;
}

.info > h3 {
    margin-bottom: 4px;
}

.info > .channels {
    font-size: 11px;
    margin: -2px 0 3px;
    color: #666;
}

.info tr {
    line-height: 18px;
}

.info th {
    padding-right: 6px;
    vertical-align: top;
    font-weight: 600;
    text-align: left;
}
.knapCol {
    min-width: 200px;
}

/* Pagination */
.pagination {
    margin: 10px 0;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.pagination > p {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
}

.pagination > a {
    display: inline-block;
    padding: 2px 6px;
    color: #666;
    border: #bfbfbf solid 1px;
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 #fff;
    background-color: #f6f6f6;
    background-image: -ms-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e8e8e8));
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
}

.pagination > a:hover {
    text-decoration: none;
    background-image: -ms-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #f4f4f4));
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
    background-image: linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
}

.pagination > a:active {
    box-shadow: inset 0 1px 1px #bbb;
}

.pagination > span {
    margin: 0 3px;
    letter-spacing: 1px;
}

.pagination > .selected {
    padding: 0 3px;
    letter-spacing: 0;
    color: #404040;
}

.pagination > .nav {
    width: 18px;
    height: 19px;
    padding: 0;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center center;
}

.pagination > #previous {
    background-image: url(/image/pag_prev_arrow-trans.png);
    background-image: url(/image/pag_prev_arrow-trans.png), -ms-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: url(/image/pag_prev_arrow-trans.png), -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: url(/image/pag_prev_arrow-trans.png), -o-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: url(/image/pag_prev_arrow-trans.png), -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e8e8e8));
    background-image: url(/image/pag_prev_arrow-trans.png), -webkit-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: url(/image/pag_prev_arrow-trans.png), linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
}

.pagination > #next {
    background-image: url(/image/pag_next_arrow-trans.png), -ms-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: url(/image/pag_next_arrow-trans.png), -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: url(/image/pag_next_arrow-trans.png), -o-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: url(/image/pag_next_arrow-trans.png), -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #e8e8e8));
    background-image: url(/image/pag_next_arrow-trans.png), -webkit-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
    background-image: url(/image/pag_next_arrow-trans.png), linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
}
/*
 *   New EB Buttons (2011)
 */

/*  Green Buttons */

.eb_button.large.go {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 #b7db81 inset, 0 -1px 0 #b7db81 inset;
    -moz-box-shadow: 0 1px 0 #b7db81 inset, 0 -1px 0 #b7db81 inset;
    box-shadow: 0 1px 0 #b7db81 inset, 0 -1px 0 #b7db81 inset;
    background: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light-trans.png) repeat-x scroll 0 50% #90C833;
    border: medium none;
    color: #fff !important;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 44px;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0 1px #63852b;
    width: 174px;
    border: 1px solid #8bae42;
}

.eb_button.large.go:hover {
    -webkit-box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset, 0 1px #e8e8e8;
    -moz-box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset, 0 1px #e8e8e8;
    box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset, 0 1px #e8e8e8;
    background: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light-trans.png) repeat-x scroll 0 50% #98d236;
}

.eb_button.large.go:active {
    box-shadow: -6px 6px 8px #84A540 inset, 6px -6px 8px #84A540 inset;
    -moz-box-shadow: -6px 6px 8px #84A540 inset, 6px -6px 8px #84A540 inset;
    -webkit-box-shadow: -6px 6px 8px #84A540 inset, 6px -6px 8px #84A540 inset;
    background: url("") repeat-x scroll 0 50% #afdc64;
}

.eb_button.medium.go {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset;
    -moz-box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset;
    box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset;
    background-color: #90C833;
    background-image: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light-trans.png);
    background-position: 0 50%;
    border: 1px solid #8bae42;
    color: #fff !important;
    display: inline-block;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 2px 17px;
    text-shadow:0 1px #63852b;
    text-decoration: none;
}

.eb_button.medium.go:hover {
    -webkit-box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset, 0 1px #e8e8e8;
    -moz-box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset, 0 1px #e8e8e8;
    box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset, 0 1px #e8e8e8;
    background-color: #98d236;
}

.eb_button.medium.go:active {
    box-shadow: -4px 4px 6px #84A540 inset, 4px -4px 6px #84A540 inset;
    -moz-box-shadow: -4px 4px 6px #84A540 inset, 4px -4px 6px #84A540 inset;
    -webkit-box-shadow: -4px 4px 6px #84A540 inset, 4px -4px 6px #84A540 inset;
    background: url("") repeat-x scroll 0 50% #afdc64;
}

.eb_button.small.go {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset;
    -moz-box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset;
    box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset;
    background-image: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light-trans.png);
    background-position: 0 50%;
    background-color: #90C833;
    border: 1px solid #8bae42;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 11px;
    text-shadow: 0 1px #63852b;
    text-decoration: none;
}

.eb_button.small.go:hover {
    -webkit-box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset, 0 1px #e8e8e8;
    -moz-box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset, 0 1px #e8e8e8;
    box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset, 0 1px #e8e8e8;
    background-color: #98d236;
}

.eb_button.small.go:active {
    box-shadow: -3px 3px 4px #84A540 inset, 3px -3px 4px #84A540 inset;
    -moz-box-shadow: -3px 3px 4px #84A540 inset, 3px -3px 4px #84A540 inset;
    -webkit-box-shadow: -3px 3px 4px #84A540 inset, 3px -3px 4px #84A540 inset;
    background: url("") repeat-x scroll 0 50% #afdc64;
}

.eb_button.tiny.go {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset;
    -moz-box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset;
    box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset;
    background-image: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light-trans.png);
    background-position: 0 50%;
    background-color: #90C833;
    border: 1px solid #8bae42;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 0 9px;
    text-shadow: 0 1px #63852b;
    text-decoration: none;
}

.eb_button.tiny.go:hover {
    -webkit-box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset, 0 1px #e8e8e8;
    -moz-box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset, 0 1px #e8e8e8;
    box-shadow: 0 1px 0 #bce185 inset, 0 -1px 0 #bce185 inset, 0 1px #e8e8e8;
    background-color: #98d236;
}

.eb_button.tiny.go:active {
    box-shadow: -3px 3px 4px #84A540 inset, 3px -3px 4px #84A540 inset;
    -moz-box-shadow: -3px 3px 4px #84A540 inset, 3px -3px 4px #84A540 inset;
    -webkit-box-shadow: -3px 3px 4px #84A540 inset, 3px -3px 4px #84A540 inset;
    background: url("") repeat-x scroll 0 50% #afdc64;
}



/*  Grey Buttons */

.eb_button.large.default  {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #F5F5F5 inset;
    -moz-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #F5F5F5 inset;
    box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #F5F5F5 inset;
    background: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light2-trans.png) repeat-x scroll 0 50% #E4E4E4;
    border: medium none;
    color: #555;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 44px;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0 1px #fff;
    width: 174px;
    border: 1px solid #B5B5B5;
}

.eb_button.large.default:hover {
    -webkit-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #F5F5F5 inset, 0 1px #e8e8e8;
    -moz-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #F5F5F5 inset, 0 1px #e8e8e8;
    box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #F5F5F5 inset, 0 1px #e8e8e8;
    background: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light2-trans.png) repeat-x scroll 0 50% #dbdbdb;
}

.eb_button.large.default:active {
    box-shadow: -6px 6px 8px #b5b5b5 inset, 6px -6px 8px #b5b5b5 inset;
    -moz-box-shadow: -6px 6px 8px #b5b5b5 inset, 6px -6px 8px #b5b5b5 inset;
    -webkit-box-shadow: -6px 6px 8px #b5b5b5 inset, 6px -6px 8px #b5b5b5 inset;
    background: url("") repeat-x scroll 0 50% #f2f2f2;
}

.eb_button.medium.default {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #f5f5f5 inset;
    -moz-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #f5f5f5 inset;
    box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #f5f5f5 inset;
    background: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light2-trans.png) repeat-x scroll 0 50% #e4e4e4;
    border: 1px solid #b5b5b5;
    color: #555555;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 2px 17px;
    text-shadow: 0 1px #fff;
    text-decoration: none;
}

.eb_button.medium.default:hover {
    -webkit-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #F5F5F5 inset, 0 1px #e8e8e8;
    -moz-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #F5F5F5 inset, 0 1px #e8e8e8;
    box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #F5F5F5 inset, 0 1px #e8e8e8;
    background: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light2-trans.png) repeat-x scroll 0 50% #dbdbdb;
}

.eb_button.medium.default:active {
    box-shadow: -4px 4px 6px #b5b5b5  inset, 4px -4px 6px #b5b5b5  inset;
    -moz-box-shadow: -4px 4px 6px #b5b5b5  inset, 4px -4px 6px #b5b5b5  inset;
    -webkit-box-shadow: -4px 4px 6px #b5b5b5  inset, 4px -4px 6px #b5b5b5  inset;
    background: url("") repeat-x scroll 0 50% #f2f2f2;
}

.eb_button.small.default {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #f5f5f5 inset;
    -moz-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #f5f5f5 inset;
    box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #f5f5f5 inset;
    background: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light2-trans.png) repeat-x scroll 0 50% #e4e4e4;
    border: 1px solid #b5b5b5;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 11px;
    text-shadow: 0 1px #fff;
    text-decoration: none;
}

.eb_button.small.default:hover {
    -webkit-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #F5F5F5 inset, 0 1px #e8e8e8;
    -moz-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #F5F5F5 inset, 0 1px #e8e8e8;
    box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #F5F5F5 inset, 0 1px #e8e8e8;
    background: url("https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light2-trans.png") repeat-x scroll 0 50% #dbdbdb;
}

.eb_button.small.default:active {
    box-shadow: -3px 3px 4px #b5b5b5 inset, 3px -3px 4px #b5b5b5 inset;
    -moz-box-shadow: -3px 3px 4px #b5b5b5 inset, 3px -3px 4px #b5b5b5 inset;
    -webkit-box-shadow: -3px 3px 4px #b5b5b5 inset, 3px -3px 4px #b5b5b5 inset;
    background: url("") repeat-x scroll 0 50% #f2f2f2;
}

.eb_button.tiny.default {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #f5f5f5 inset;
    -moz-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #f5f5f5 inset;
    box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #f5f5f5 inset;
    background: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light2-trans.png) repeat-x scroll 0 50% #e4e4e4;
    border: 1px solid #b5b5b5;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 0 9px;
    text-shadow: 0 1px #fff;
    text-decoration: none;
}

.eb_button.tiny.default:hover {
    -webkit-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #f5f5f5 inset, 0 1px #e8e8e8;
    -moz-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #f5f5f5 inset, 0 1px #e8e8e8;
    box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #f5f5f5 inset, 0 1px #e8e8e8;
    background: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light2-trans.png) repeat-x scroll 0 50% #dbdbdb;
}

.eb_button.tiny.default:active {
    box-shadow: -3px 3px 4px #b5b5b5 inset, 3px -3px 4px #b5b5b5 inset;
    -moz-box-shadow: -3px 3px 4px #b5b5b5 inset, 3px -3px 4px #b5b5b5 inset;
    -webkit-box-shadow: -3px 3px 4px #b5b5b5 inset, 3px -3px 4px #b5b5b5 inset;
    background: url("") repeat-x scroll 0 50% #f2f2f2;
}


/*  Red Buttons */

.eb_button.large.warn {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset;
    -moz-box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset;
    box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset;
    background: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light-trans.png) repeat-x scroll 0 50% #f16925;
    border: medium none;
    color: #fff !important;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 44px;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0 1px #d14200;
    width: 174px;
    border: 1px solid #d14200;
}

.eb_button.large.warn:hover {
    -webkit-box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset, 0 1px #e8e8e8;
    -moz-box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset, 0 1px #e8e8e8;
    box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset, 0 1px #e8e8e8;
    background: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light-trans.png) repeat-x scroll 0 50% #f9712c;
}

.eb_button.large.warn:active {
    box-shadow: -6px 6px 8px #d14200 inset, 6px -6px 8px #d14200 inset;
    -moz-box-shadow: -6px 6px 8px #d14200 inset, 6px -6px 8px #d14200 inset;
    -webkit-box-shadow: -6px 6px 8px #d14200 inset, 6px -6px 8px #d14200 inset;
    background: url("") repeat-x scroll 0 50% #f48a54;
}

.eb_button.medium.warn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset;
    -moz-box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset;
    box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset;
    background-color: #f16925;
    background-image: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light-trans.png);
    background-position: 0 50%;
    border: 1px solid #d14200;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 2px 17px;
    text-shadow: 0 1px #d14200;
    text-decoration: none;
}

.eb_button.medium.warn:hover {
    -webkit-box-shadow:0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset, 0 1px #e8e8e8;
    -moz-box-shadow:0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset, 0 1px #e8e8e8;
    box-shadow:0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset, 0 1px #e8e8e8;
    background-color: #f9712c;
}

.eb_button.medium.warn:active {
    box-shadow: -4px 4px 6px #d14200 inset, 4px -4px 6px #d14200 inset;
    -moz-box-shadow: -4px 4px 6px #d14200 inset, 4px -4px 6px #d14200 inset;
    -webkit-box-shadow: -4px 4px 6px #d14200 inset, 4px -4px 6px #d14200 inset;
    background:url("") repeat-x scroll 0 50% #f48a54;
}

.eb_button.small.warn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset;
    -moz-box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset;
    box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset;
    background-image: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light-trans.png);
    background-position: 0 50%;
    background-color: #f16925;
    border: 1px solid #d14200;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 11px;
    text-shadow: 0 1px #d14200;
    text-decoration: none;
}

.eb_button.small.warn:hover {
    -webkit-box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset, 0 1px #e8e8e8;
    -moz-box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset, 0 1px #e8e8e8;
    box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset, 0 1px #e8e8e8;
    background-color: #f9712c;
}

.eb_button.small.warn:active {
    box-shadow: -3px 3px 4px #d14200 inset, 3px -3px 4px #d14200 inset;
    -moz-box-shadow: -3px 3px 4px #d14200 inset, 3px -3px 4px #d14200 inset;
    -webkit-box-shadow: -3px 3px 4px #d14200 inset, 3px -3px 4px #d14200 inset;
    background: url("") repeat-x scroll 0 50% #f48a54;
}

.eb_button.tiny.warn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset;
    -moz-box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset;
    box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset;
    background-image: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light-trans.png);
    background-position: 0 50%;
    background-color: #f16925;
    border: 1px solid #d14200;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 0 9px;
    text-shadow: 0 1px #d14200;
    text-decoration: none;
}

.eb_button.tiny.warn:hover {
    -webkit-box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset, 0 1px #e8e8e8;
    -moz-box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset, 0 1px #e8e8e8;
    box-shadow: 0 1px 0 #ff9d69 inset, 0 -1px 0 #ff9d69 inset, 0 1px #e8e8e8;
    background-color: #f9712c;
}

.eb_button.tiny.warn:active {
    box-shadow: -3px 3px 4px #d14200 inset, 3px -3px 4px #d14200 inset;
    -moz-box-shadow: -3px 3px 4px #d14200 inset, 3px -3px 4px #d14200 inset;
    -webkit-box-shadow: -3px 3px 4px #d14200 inset, 3px -3px 4px #d14200 inset;
    background: url("") repeat-x scroll 0 50% #f48a54;
}

/* Facebook Connect Buttons */
.eb_button.fb_connect {
    cursor: pointer;
    display: inline-block;
    padding: 0 10px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #2b4b6f;
    border: 1px solid #294464;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #9cacc2 inset, 0 -1px 0 #6e86ac inset;
    -moz-box-shadow: 0 1px 0 #9cacc2 inset, 0 -1px 0 #6e86ac inset;
    box-shadow: 0 1px 0 #9cacc2 inset, 0 -1px 0 #6e86ac inset;
    background: #506896 url(../../images/background/glass_light-trans.png) 0 50%;
}

.eb_button.fb_connect:hover {
    -webkit-box-shadow:0 1px 0 #b1c0d6 inset, 0 -1px 0 #7f98be inset, 0 1px #e8e8e8;
    -moz-box-shadow:0 1px 0 #b1c0d6 inset, 0 -1px 0 #7f98be inset, 0 1px #e8e8e8;
    box-shadow:0 1px 0 #b1c0d6 inset, 0 -1px 0 #7f98be inset, 0 1px #e8e8e8;
    background-color: #5b73a3;
}

.eb_button.fb_connect:active {
    box-shadow: -3px 3px 4px #35557a inset, 3px -3px 4px #35557a inset;
    -moz-box-shadow: -3px 3px 4px #35557a inset, 3px -3px 4px #35557a inset;
    -webkit-box-shadow: -3px 3px 4px #35557a inset, 3px -3px 4px #35557a inset;
    background: #667dac;
}

.eb_button.fb_connect > span {
    display: inline-block;
}

.eb_button.fb_connect > span > strong {
    font-weight: 500;
}

.eb_button.small.fb_connect {
    height: 26px;
    line-height: 23px;
    font-size: 12px;
}

.eb_button.small.fb_connect > span {
    height: 26px;
    padding-left: 25px;
    background: url(../../images/buttons/eb_fb_button_logo_small.png) no-repeat 0 50%;
}

.eb_button.large.fb_connect {
    height: 39px;
    padding: 0 14px;
    line-height: 39px;
    font-size: 18px;
}

.eb_button.large.fb_connect > span {
    height: 39px;
    padding-left: 38px;
    background: url(../../images/buttons/eb_fb_button_logo_large.png) no-repeat 0 50%;
}

/* TODO: phase out these rules */

.button_css a, .button_css input {
    background: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light2-trans.png) 0 50% repeat-x #e4e4e4;
    font-size: 12px;
    color: #555;
    font-weight: bold;
    border: 1px solid #b5b5b5;
    padding: 9px 12px;
    text-decoration: none;
    text-shadow: 0 1px #fff;
    -moz-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #f5f5f5 inset;
    -webkit-box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #f5f5f5 inset;
    box-shadow: 0 1px 0 #fff inset, 0 -1px 0 #f5f5f5 inset;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.button_css a:hover, .button_css input:hover {
    background-color: #dbdbdb;
}
.go_button a, .go_button input {
    font-size: 12px;
    background: url(https://ebmedia.eventbrite.com/s3-s3/static/images/background/glass_light-trans.png) 0 50% repeat-x #90C833;
    padding: 9px 12px;
    border: 1px solid #8BAE42;
    -moz-box-shadow: 0 1px 0 #B7DB81 inset, 0 -1px 0 #B7DB81 inset;
    -webkit-box-shadow: 0 1px 0 #B7DB81 inset, 0 -1px 0 #B7DB81 inset;
    box-shadow: 0 1px 0 #B7DB81 inset, 0 -1px 0 #B7DB81 inset;
    text-shadow: 0 1px #63852B;
    color: #fff;
}
.go_button a:hover, .go_button input:hover {
    background-color: #98D236;
    -moz-box-shadow: 0 1px 0 #BCE185 inset, 0 -1px 0 #BCE185 inset;
    -webkit-box-shadow: 0 1px 0 #BCE185 inset, 0 -1px 0 #BCE185 inset;
    box-shadow: 0 1px 0 #BCE185 inset, 0 -1px 0 #BCE185 inset;
    border: 1px solid #8BAE42;
}

span.button_css > a {
    color: #555;
}

span.go_button > a {
    color: #fff;
}

