/* Clearfix */
.clearfix:before,
.clearfix:after
{
    content: " ";
    display: table;
}

.clearfix:after
{
    clear: both;
}

.clearfix
{
    *zoom: 1;
}
/*facebook responsive fix*/
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}
/*background image stuff*/
.bg-glow
{
    background: url(/media/images/bg_glow.jpg) center 0 no-repeat;
    margin: 0 auto;
    background-color: #1b2713;
}

.dannebrog
{
    background-color: #E31836;
}
/**
     * Base styles for horizontal navigation
     */
.horizontal-nav
{
    background: #efefef;
    border-radius: 6px;
}

    .horizontal-nav ul
    {
        background: #9a1212;
        float: left;
        text-align: center;
        border-radius: 6px;
        border: 1px solid #790e0e;
        margin-top: 0px;
    }

        .horizontal-nav ul li
        {
            float: left;
            border-left: 1px solid #790e0e;
        }

            .horizontal-nav ul li:first-child
            {
                border-left: 0 none;
            }

            .horizontal-nav ul li a
            {
                display: block;
                padding: 10px 20px;
                color: #fff;
                border-top: 1px solid rgba(255,255,255, 0.25);
                border-left: 1px solid rgba(255,255,255, 0.25);
                border-right: none;
                width: auto;
            }

            .horizontal-nav ul li:first-child a
            {
                border-left: 0 none;
            }

            .horizontal-nav ul li a:hover
            {
                background: #8a1212;
            }

            .horizontal-nav ul li:first-child a
            {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }

.horizontal-navu ul li:last-child a
{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/*main*/
#mainRow
{
    min-height: 800px;
    border: 10px solid #fff;
    background-color: #fff;
    left: -10px;
    position: relative;
}

.logincol
{
    text-align: center;
}
/*gallery*/
.umbFolderBrowser
{
    position: relative!important;
}
/*map*/
.gmap
{
    height: 250px;
}

/*nyheder*/
#nyhederTeaserOverskrift
{
    padding-top: 40px;
}

#nyhedsTeaser
{
    margin-left: 28px;
}

    #nyhedsTeaser .dateStamp
    {
        font-size: 75%;
    }

.nyhedsLink
{
    color: #000;
    font-size: 120%;
    line-height: 1.5em;
}

.nyheder h1
{
    padding-left: 20px;
    padding-bottom: 5px;
}

.nyhed
{
    padding: 20px;
    display: inline-block;
    margin-bottom: 10px;
    font-family: "Times New Roman", Times, serif;
}

    .nyhed img
    {
        padding: 5px;
    }

.nyhedsIndhold
{
}

#nyhedsTeaser .intro
{
    font-size: 95%;
}

.intro
{
    font-size: 110%;
    font-style: italic;
    border-bottom: 6px solid #000;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.dateStamp
{
    color: #999;
    padding-bottom: 10px;
}

.rightBorder
{
    border-right: 1px solid #ddd;
    padding-right: 2%;
}

.leftBorder
{
    margin-left: -2%;
}
/*mini events*/
#miniEvent li
{
    padding-bottom: 10px;
}

    #miniEvent li a
    {
        font-size: 120%;
        color: #000;
    }

td.info
{
    padding-left: 10px;
}

    td.info th
    {
        text-align: left;
        vertical-align: top;
        padding-right: 5px;
    }

    td.info h3
    {
        padding-bottom: 5px;
    }
    /*events*/
    .event_listing tr.event td {
        padding-bottom: 10px;
    }
/*kontingent*/
#kontingent
{
    padding-top: 10px;
}

    #kontingent a.button
    {
        width: 200px;
        text-align: center;
        margin-left: 0px;
    }

/*galleri*/

#gallery
{
    padding: 10px;
    max-width: 995px;
    margin: 0 auto;
}

.backlink
{
    display: block;
    padding-bottom: 20px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.image_stack
{ /* css style for photo stack */
    position: relative;
    height: 180px;
    width: 130px;
    display: inline-block;
}

.image_stack_wide
{
    width: 195px;
}

.image_stack span
{
    position: relative;
}

.imageCount
{
    font-size: 75%;
    color: #aaa;
    top: 125px;
    display: block;
    padding-left: 10px;
}

.imageDescrip
{
    font-size: 90%;
    top: 130px;
    padding-left: 10px;
}

.imageDescripShallow
{
    font-size: 90%;
    top: 115px;
    padding-left: 10px;
}

.image_stack img
{ /* css style for photo stack */
    border: none;
    text-decoration: none;
    position: absolute;
    margin-left: 0px;
    width: 100px;
    height: 100px;
    position: absolute;
    border: 4px solid #FFF;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.image_stack .photo1
{ /* position of last photo in the stack */
    top: 8px;
    left: 50px;
}

.image_stack .photo2
{ /* position of middle photo in the stack */
    top: 6px;
    left: 30px;
}

.image_stack .photo3
{ /* position of first photo at the top in the stack */
    top: 4px;
}

.image_stack .rotate1
{ /* rotate last image 15 degrees to the right */
    -webkit-transform: rotate(5deg); /* safari and chrome */
    -moz-transform: rotate(5deg); /*firefox browsers */
    transform: rotate(5deg); /*other */
    -ms-transform: rotate(5deg); /* Internet Explorer 9 */
    -o-transform: rotate(5deg); /* Opera */
}

.image_stack .rotate2
{ /* css not used*/
    -webkit-transform: rotate(0deg); /* safari and chrome */
    -moz-transform: rotate(0deg); /*firefox browsers */
    transform: rotate(0deg); /*other */
    -ms-transform: rotate(0deg); /* Internet Explorer 9 */
    -o-transform: rotate(0deg); /* Opera */
}

.image_stack .rotate3
{ /*rotate first image 15 degrees to the left*/
    -webkit-transform: rotate(-5deg); /* safari and chrome */
    -moz-transform: rotate(-5deg); /*firefox browsers */
    transform: rotate(-5deg); /*other */
    -ms-transform: rotate(-5deg); /* Internet Explorer 9 */
    -o-transform: rotate(-5deg); /* Opera */
    cursor: pointer;
}

#deltagere a {
    color: #000;
}
#deltagere a:hover {
    text-decoration: none;
}


/* Basic Styles */


p
{
    margin: 1em 0!important;
}

h1, h2, h3, h3 a
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    color: #40453A;
    font-weight: bold;
}

h1
{
    font-size: 42px;
    line-height: 51px;
    padding-bottom: 10px!important;
}

h2
{
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 10px!important;
}

h3
{
    font-size: 20px;
    line-height: 20px;
}

.heading
{
    vertical-align: middle;
}

    .heading h1
    {
        line-height: 64px;
        text-align: center;
    }

    .heading img
    {
        float: left;
    }

.borderBottom
{
    border-bottom: 2px dotted #eee;
    margin-bottom: 20px!important;
}

#logoRow
{
    background-image: url('/media/images/tdkfc_logo.png');
    background-repeat: no-repeat;
    background-position: top left;
    height: 115px;
    position: relative;
    top: -80px;
    width: 100px;
    margin-left: 3%;
    margin-bottom: -10px;
}

    #logoRow:hover
    {
        -webkit-animation: wiggle .3s ease-in-out alternate;
    }

    #logoRow a
    {
        color: transparent;
        font-size: 250%;
        line-height: 125px;
    }

.topRow
{
    max-width: 100%!important;
    background: #E31836;
    font-size: 1.4em;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    position: relative;
    height: 70px;
}

nav ul
{
    padding: 0;
    margin: 0 auto;
    margin-top: 30px;
    width: 74%;
    height: 40px;
}

nav li
{
    display: inline;
    float: left;
}

    nav li img
    {
        vertical-align: middle;
    }

nav a
{
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0px #283744;
    padding: 0px 10px 0px 10px;
}

nav li a
{
    border-right: 1px solid #576979;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav li:last-child a
{
    border-right: 0;
}

nav a:hover, nav a:active
{
    background-color: #8c99a4;
}

nav a#pull
{
    display: none;
}


#fbLogin
{
    width: 150px;
}

#miniEvent ul
{
    list-style: none;
}

    #miniEvent ul li img
    {
        height: 24px;
        width: 24px;
    }

@media only screen and (min-width: 767px) and (max-width: 1023px)
{

    #logoRow
    {
        margin-left: 0px!important;
    }

    nav ul
    {
        width: 75%!important;
    }

    nav li a
    {
        padding-right: 5px!important;
        padding-left: 5px!important;
    }

    #fbLogin
    {
        width: 110px;
    }

    iframe.fb_ltr
    {
        width: 370px!important;
    }
}
/*Styles for screen ipad and lower*/
@media screen and (max-width: 767px)
{
    .topRow
    {
        height: auto;
    }

    #logoRow
    {
        display: none;
    }

    #mainRow
    {
        margin-left: -10px;
    }

    nav
    {
        height: auto;
    }

        nav ul
        {
            width: 100%;
            display: block;
            height: auto;
        }

        nav li
        {
            width: 50%;
            float: left;
            position: relative;
        }

            nav li a
            {
                border-bottom: 1px solid #576979;
                border-right: 1px solid #576979;
            }

        nav a
        {
            text-align: left;
            width: 100%;
            text-indent: 25px;
        }
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px)
{
    .topRow
    {
        background-image: none;
        height: auto;
    }

    nav
    {
        border-bottom: 0;
    }

        nav ul
        {
            display: none;
            height: auto;
            padding-top: 0px;
        }

    #fbLogin
    {
        width: 100%;
    }

    
    #logoRow
    {
        display: none;
    }

    .carousel
    {
        display: none;
    }

    nav a#pull
    {
        display: block;
        background-color: #283744;
        width: 100%;
        position: relative;
        height: 40px;
    }

        nav a#pull:after
        {
            content: "";
            background: url('nav-icon.png') no-repeat;
            width: 30px;
            height: 30px;
            display: inline-block;
            position: absolute;
            right: 15px;
            top: 10px;
        }

    .button
    {
        font-size: 100%;
    }
}

/*Smartphone*/
@media only screen and (max-width : 320px)
{
    nav li
    {
        display: block;
        float: none;
        width: 100%;
    }

        nav li a
        {
            border-bottom: 1px solid #576979;
        }
}

@-webkit-keyframes wiggle
{
    0%
    {
        -webkit-transform: rotate3d(0,0,0,0deg);
    }

    25%
    {
        -webkit-transform: rotate3d(0,0,0,8deg);
    }

    75%
    {
        -webkit-transform: rotate3d(0,0,0,-8deg);
    }

    100%
    {
        -webkit-transform: rotate3d(0,0,0,0deg);
    }
}

@-moz-keyframes wiggle
{
    0%
    {
        -moz-transform: rotate(0deg);
    }

    25%
    {
        -moz-transform: rotate(5deg);
    }

    75%
    {
        -moz-transform: rotate(-5deg);
    }

    100%
    {
        -moz-transform: rotate(0deg);
    }
}
#printListe {
    width: 50%;
    border: 1px solid #000;
    border-collapse: collapse;
}
#printListe td {
    text-align: center;
    vertical-align: bottom;
    border-bottom: 1px solid #000;
    padding: 5px;
}

#printListe tr {
    
}

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
p
{
    font-size: 100%;
}

.n110
{
    font-size: 110%;
}

h1
{
}

h2
{
}

h3
{
}
