﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="KøbKnap.ascx.cs" Inherits="teamdk.usercontrols.Controls.KøbKnap" %>
<asp:Button ID="Button1" runat="server" Text="Køb" CssClass="button" OnClick="Button1_Click" />
<asp:Label ID="label1" runat="server" Visible="False" Text="&nbsp;<i>Du skal logge ind for at kunne købe</i>"></asp:Label>