﻿@using System.Diagnostics
@using umbraco.BusinessLogic
@using umbraco.MacroEngines
@using umbraco.cms.businesslogic.media
@{
    var galleryRootNodeId = 1119;
    var root = new Media(galleryRootNodeId);
    var newRoot = HttpContext.Current.Request.QueryString["rootMedia"];
    var backLink = "";
    if (!string.IsNullOrEmpty(newRoot))
    {
        root = new Media(int.Parse(newRoot));
        if (root.Parent.Id == 1119)
        {
            backLink = "/billeder/";
        }
        else
        {
            backLink = "/billeder/?rootMedia=" + @root.Parent.Id.ToString();
        }
    }
}
@if (!string.IsNullOrEmpty(backLink))
{
    <a href="@backLink" class="backlink">&#9668; Tilbage</a>
}
@{
    var children = root.Children;
    
}

@foreach (var media in children)
{
    switch (@media.ContentType.Alias)
    {
        case "Folder":

            var chldrn = new Media(media.Id).GetDescendants();
            var decendants = chldrn.Cast<Media>().ToList().Where(m => m.ContentType.Alias == "Image");
    <div class="image_stack image_stack_wide">
        <a href="?rootMedia=@media.Id">
            <img  class="photo1 rotate1 " src="@decendants.ElementAt(0).getProperty("umbracoFile").Value">
            <img class="photo2 rotate2" src="@decendants.ElementAt(1).getProperty("umbracoFile").Value">
            <img class="photo3 rotate3" src="@decendants.ElementAt(2).getProperty("umbracoFile").Value">
        </a>
        <span class="imageCount">@decendants.Count() billeder</span>
        <span class="imageDescrip">@media.Text.Replace("_", " ")</span>
    </div>
            break;
        case "Image":
            var img = new Media(media.Id);
            var link = @img.getProperty("blobUrl").Value;

            var name = @media.Text;
            if (name.Length > 20)
            {
                name = name.Substring(0, 20);
            }
    <div class="image_stack">
        <a href="@link" class="slideshow">
            <img class="image_stack" src="@img.getProperty("umbracoFile").Value"/>
        </a>
        <span class="imageDescripShallow">@name.Replace("_", " ")</span>
    </div>
            break;
    }
}
