﻿@using umbraco.MacroEngines
@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
<div class="carouselMenu">
    <ul class="slides">
        @{
            DynamicNode carouselRoot = null;

            if (String.IsNullOrEmpty(@Model.carouselRoot))
            {
                carouselRoot = new DynamicNode(-1).GetChildrenAsList.Items.Single(n => n.Name == "Homepage Carousel");
            }
            else
            {
                carouselRoot = new DynamicNode(int.Parse(@Model.carouselRoot));
            }
        }
        @if (!carouselRoot.ChildrenAsList.Any())
        {
            <li>No carousels has been seleted. Off you go, fix it!</li>
        }
        else
        {

            foreach (DynamicNode item in carouselRoot.GetChildrenAsList)
            {
                var photo = new Media(int.Parse(item.GetProperty("image").Value));
                var url = (string)photo.getProperty("umbracoFile").Value;
                url = url.Substring(0, url.Length - 4);
                url = url + "_slide." + photo.getProperty("umbracoExtension").Value;
            <li class="slide">
                <img class="slideImg" src="@url" alt="@item.GetProperty("title").Value"/>
                <div class="teaserDiv">
                    <h2 >@item.GetProperty("title").Value</h2>
                    @Html.Raw(item.GetProperty("content").Value)
                    @if (!string.IsNullOrEmpty(item.GetPropertyValue("link")))
                    {

                        <a class="italic brandColorFront cufonSchoolbook" href="@umbraco.library.NiceUrl(int.Parse(item.GetPropertyValue("link")))">
                            @if (!string.IsNullOrEmpty(item.GetPropertyValue("buttonImage")))
                            {

                                <img src="@Model.MediaById(item.GetProperty("buttonImage").Value).umbracoFile" class="carouselButtonImage"/>
                            }
                            else
                            {
 @item.GetPropertyValue("linkTitle")
                            }
                        </a>
                    }
                </div>
            </li>
            }
        }
    </ul>
</div>
