﻿@using umbraco.cms.businesslogic.member
@inherits umbraco.MacroEngines.DynamicNodeContext
@{ 
    var level = String.IsNullOrEmpty(Parameter.Level) ? 1 : int.Parse(Parameter.Level);
    var ulClass = String.IsNullOrEmpty(Parameter.UlClass) ? "" : String.Format(" class=\"{0}\"", Parameter.UlClass);
    var parent = @Model.AncestorOrSelf(level);
    if (parent != null)
    {

    <ul@Html.Raw(ulClass) class="clearfix">
    
        @foreach (var item in parent.Children.Where("Visible"))
        {
            if (item.HasAccess())
            {
                var selected = Array.IndexOf(Model.Path.Split(','), item.Id.ToString()) >= 0 ? " class=\"selected\"" : "";

            <li@Html.Raw(selected)><a href="@item.Url">@item.Name</a> </li>
            }
        }
        
    </ul>
       
    }
   
}