﻿@using System.Globalization
@using teamdk.Backend.DomainModel.UmbracoObjectsDataContext
@using umbraco.presentation.nodeFactory
@{
    Culture = "da-DK";
    List<Event> allEvents;
    
    allEvents = TeamDkDataContext.Instance.Events.Where(e => e.NextTidspunkt >= DateTime.Now).OrderBy(e => e.NextTidspunkt).Where(e => e.NextTidspunkt >= DateTime.Now).OrderBy(e => e.NextTidspunkt).ToList();
        if(Parameter.cat!="")
        {
            var cat = Parameter.cat;
            if(cat!="Alle")
            {
                allEvents = allEvents.Where(e => e.Aktivitet == cat).ToList();
            }
        }
}
<div id="miniEvent">
    @if(allEvents.Count==0)
    {
        <p>Der er ikke nogen begivenheder i den nærmeste fremtid</p>
    }
    
    <ul>
        @foreach(var evt in allEvents)
        {
            var node = new Node(evt.Id);
            <li>
                @{
                    var ico = "";
                    switch (evt.Aktivitet)
                    {
                        case "Alle":
                            ico = "star.png";
                            break;
                        case "Løb":
                            ico = "løb.png";
                            break;
                        case "Fodbold":
                            ico = "bold.png";
                            break;
                        case "Golf":
                            ico = "golf.png";
                            break;
                        case "Social":
                            ico = "cocktail.png";
                            break;
                        default:
                              ico = "star.png";
                            break;
                    }
                    <img src="/image/@ico" alt="icon" height="64px" width="64px"/>
                        
                }
                <a href="@node.NiceUrl">@evt.NodeName - @evt.NextTidspunkt.ToString("f", new CultureInfo("da-DK", false))</a>
            </li>
        }
    </ul>
</div>
