@inherits umbraco.MacroEngines.DynamicNodeContext
@using System.Diagnostics
@using umbraco.BusinessLogic
@using umbraco.MacroEngines
@using umbraco.cms.businesslogic.media
@{
    var t = DateTime.Now;
    const int galleryRootNodeId = 1119;
    var root = new Media(galleryRootNodeId);
    var children = root.GetDescendants();
    var list = children.Cast<Media>().ToList();
    var diff = DateTime.Now.Subtract(t).TotalMilliseconds;
    umbraco.BusinessLogic.Log.Add(LogTypes.Debug, 0,diff.ToString());
}
<div class="fluid_container">
    <div class="camera_wrap camera_azure_skin" id="camera">
        @foreach (var img in list.OrderByDescending(m=>m.Id).Take(10))
        {
            if(img==null) {continue;}
            if (img.HasProperty("blobThumbUrl") && string.IsNullOrEmpty((string)img.getProperty("blobThumbUrl").Value))
            {
            <div data-src="@img.getProperty("blobThumbUrl").Value">
            </div>
            }
            else if (img.HasProperty("blobUrl"))
            {
            <div data-src="@img.getProperty("blobUrl").Value">
            </div>
            }

        }
    </div>
</div>
