﻿@using System.Globalization
@using umbraco.MacroEngines
@inherits umbraco.MacroEngines.DynamicNodeContext

@helper RenderNyhed(DynamicNode item)
{
    <div class="nyhed borderBottom">
        @{
            var date = item.CreateDate;
            if (!string.IsNullOrEmpty(item.GetPropertyValue("orginalDato")))
            {
                date = DateTime.Parse(item.GetPropertyValue("orginalDato"));
            }
        }
        <div class="dateStamp">Skrevet af @item.WriterName - @date.ToLongDateString()</div>
        <h2>@item.GetPropertyValue("header")</h2>
        <div class="intro">
            @Html.Raw(item.GetPropertyValue("intro"))
        </div>
        <div class="nyhedsIndhold">
            @Html.Raw(item.GetPropertyValue("content"))
        </div>
    </div>
}
@{ 
    
    var ci = new CultureInfo("da-DK");

    System.Threading.Thread.CurrentThread.CurrentCulture = ci;
    System.Threading.Thread.CurrentThread.CurrentUICulture = ci;

    int pageSize; // How many items per page
    int page; // The page we are viewing

    /* Set up parameters */

    if (!int.TryParse(Parameter.PageSize, out pageSize))
    {
        pageSize = 4;
    }

    if (!int.TryParse(Request.QueryString["page"], out page))
    {
        page = 1;
    }

    //var nyheder = nyhedsNoden.Descendants("Nyhed").Items.Where(n => n.Visible && string.IsNullOrEmpty(n.GetPropertyValue("orginalDato"))).OrderByDescending(n => n.CreateDate).Take(4);

    dynamic an = Model.Parent();
    DynamicNodeList source = @an.Descendants("Nyhed").Where("Visible");
    var nodes = source.Items.Where(n => string.IsNullOrEmpty(n.GetPropertyValue("orginalDato"))).OrderByDescending(n => DateTime.Parse(n.GetPropertyValue("CreateDate"))).ToList();
    var oldNews = source.Items.Where(n => !string.IsNullOrEmpty(n.GetPropertyValue("orginalDato"))).OrderByDescending(n => DateTime.Parse(n.GetPropertyValue("orginalDato"))).ToList();
    nodes.AddRange(oldNews);
    //var orginalDato = new DynamicNodeList();
    //var orginalDato = new DynamicNodeList();

    //foreach (DynamicNode node in nodes)
    //{
    //    if (node.GetPropertyValue("originalDato") != "")
    //    {
    //        orginalDato.Add(node);
    //    }else
    //    {

    //    }
    //}

    int totalNodes = nodes.Count;
    int totalPages = (int)Math.Ceiling((double)totalNodes / (double)pageSize);

    /* Bounds checking */

    if (page > totalPages)
    {
        page = totalPages;
    }
    else if (page < 1)
    {
        page = 1;
    }
    var odd = 1;

}


    @foreach (DynamicNode item in nodes.Skip((page - 1) * pageSize).Take(pageSize))
    {
        if (odd % 2 == 0)
        {
            <div class="sixcol last leftBorder">
                @RenderNyhed(item)
            </div>
            @:</div>
            
            odd = 1;
        }
        else
        {
            @:<div class="row">
            <div class="sixcol rightBorder">
                 @RenderNyhed(item)
            </div>
            odd++;
        }
    }
    @if (odd % 2 == 0)
    {
        @:</div>
    }
<nav class="horizontal-nav full-width">
    <ul class="">
        @for (int p = 1; p < totalPages + 1; p++)
        {
            string selected = (p == page) ? "selected" : String.Empty;

            <li class="@selected"><a href="?page=@p" title="Gå til side @p ud af ">@p</a></li> 
    }
    </ul>
</nav>
