@using umbraco.MacroEngines
@{
    var nyhedsNoden = new DynamicNode(1090);
    var nyheder = nyhedsNoden.Descendants("Nyhed").Items.Where(n=>n.Visible&&string.IsNullOrEmpty(n.GetPropertyValue("orginalDato"))).OrderByDescending(n=>n.CreateDate).Take(4);
    var count = 0;
}
<ul id="nyhedsTeaser">

    @foreach (DynamicNode n in nyheder)
    {
        <li>
            <a href="@n.NiceUrl" class="nyhedsLink">@n.Name</a>
            <br />
            @if (count == 0)
            {
                var date = n.CreateDate;
                <div class="dateStamp">@date.ToLongDateString()</div>
                <div class="intro">
                    @Html.Raw(n.GetPropertyValue("intro"))
                </div>
            }
        </li>
            count++;
    }
</ul>
