@using teamdk.Backend.DomainModel
@using umbraco.cms.businesslogic.member
@inherits umbraco.MacroEngines.DynamicNodeContext
@{
    var all = Member.GetAllAsList();
    
}

<table id="printListe" style="width: 100%;">
    <thead>
        <tr>
        <th style="width: 200px;">Navn</th>
        <th>Email</th>
        <th>Medlemskab</th>
        <th>Nyhedsbrev</th>
        <th>Betalingsdato</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in all)
        {
            var medlem = new Medlem(member);
            <tr>
                <td>@medlem.FullName</td>
                <td>@medlem.email</td>
                @{
                    var mt =@medlem.MedlemsTypeNavn;
                    if (mt == "Passivt Medlem")
                    {
                    <td>@mt</td>
                        
                    }else
                    {
                    <td><b>@mt</b></td>

                        
                    }
                }
                @{
                    var type = "";
                    foreach (var aktiviteterEnum in medlem.NyhedsBrevTilmelding)
                    {
                        type = type + aktiviteterEnum+",";
                    }
                    <td>@type</td>
                }
                @{
            var dato = "Har ikke betalt";
            if (medlem.BetalingsTidspunkt > DateTime.MinValue)
            {
                dato = medlem.BetalingsTidspunkt.ToShortDateString();

            }
                    <td>@dato</td>
            
                }

            </tr>
            
        }
    </tbody>

</table>
