﻿@using teamdk.Backend.DomainModel
@using teamdk.Backend.DomainModel.UmbracoObjectsDataContext
@using umbraco.cms.businesslogic.member
@if (Member.GetCurrentMember() != null)
{
    var mem = Member.GetCurrentMember();
    var medlem = new Medlem(mem);
    var settings = TeamDkDataContext.Instance.Settingss.Single();
    
   
    <script type="text/javascript">
        $(document).ready(function() {
            $('.subscribeCheckBox').change(function () {
                var check = this.checked + "";
                var name = this.name;
                $.ajax({
                    url: "/Backend/WebServices.asmx/OpdaterNyhedsBrev",
                    data: "{ 'check': "+this.checked+",'type':'"+name+"', 'memberId': @mem.Id }",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        
                     error: function (XMLHttpRequest, textStatus, errorThrown) {
                         alert(textStatus);
                     }
                 });
            });
        });
    </script>
    <div class="twelvecol last borderBottom">
        <h1>
            <img src='https://graph.facebook.com/@mem.getProperty("facebookUserId").Value/picture'/>
            Hej @medlem.FirstName
        </h1>
        <div class="sixcol">
            <h2>
                Dine tilmeldinger</h2>
            @Common.RenderEvents(Event.GetMemberEvents(mem.Id), mem.Id, false)
        </div>
        <div class="sixcol last">
            <h2>
                Dit medlemskab</h2>
            Du er: <b>@medlem.MedlemsTypeNavn</b>
                <br/>

            <div id="subscription">
                Du er tilmeldt følgende nyhedsbreve:
                <br/>
                <br/>
                @foreach(var aktivitet in Enum.GetNames(typeof(AktiviteterEnum)))
                {
                    bool any = medlem.NyhedsBrevTilmelding.Any(a => a.ToString() == aktivitet);
                    @Html.CheckBox(aktivitet, any,new {@class="subscribeCheckBox"}) <text>&nbsp;</text> @aktivitet
                    <br/>
                }
            </div>
            @if (medlem.MedlemsType != MedlemsTypeEnum.Passivt)
            {
                <br />
                <div>
                    Dit medlemsskab udløber: <b>@medlem.UdløbsDato.ToLongDateString()</b>
                </div>
            }
            else
            {
                 <script type="text/javascript">
                     $(document).ready(function () {
                         $(".halfquota").click(function () {
                             $('.halfquota').fadeOut('slow', function () {
                                 $.ajax({
                                     url: "/Backend/WebServices.asmx/SetupQuotaPayment",
                                     data: "{ 'quotaType': 'half', 'memberId': '@mem.Id' }",
                                     dataType: "json",
                                     type: "POST",
                                     contentType: "application/json; charset=utf-8",
                                     success: function (data) {
                                         window.location.replace("/PaymentRedirect.aspx");
                                     },
                                     error: function (XMLHttpRequest, textStatus, errorThrown) {
                                         alert(textStatus);
                                     }
                                 });
                             });
                         });
                         $(".fullquota").click(function () {
                             $('.fullquota').fadeOut('slow', function () {
                                 $.ajax({
                                     url: "/Backend/WebServices.asmx/SetupQuotaPayment",
                                     data: "{ 'quotaType': 'full', 'memberId': '@mem.Id' }",
                                     dataType: "json",
                                     type: "POST",
                                     contentType: "application/json; charset=utf-8",
                                     success: function (data) {
                                         window.location.replace("/PaymentRedirect.aspx");
                                     },
                                     error: function (XMLHttpRequest, textStatus, errorThrown) {
                                         alert(textStatus);
                                     }
                                 });
                             });
                         });
                         $(".mail").click(function () {
                             $('.mail').fadeOut('slow', function () {
                                 $.ajax({
                                     url: "/Backend/WebServices.asmx/SendEmail",
                                     data: "{ 'quotaType': 'full', 'memberId': '@mem.Id' }",
                                     dataType: "json",
                                     type: "POST",
                                     contentType: "application/json; charset=utf-8",
                                     success: function (data) {
                                         alert("Tak for det");
                                     },
                                     error: function (XMLHttpRequest, textStatus, errorThrown) {
                                         alert(textStatus);
                                     }
                                 });
                             });
                         });
                     });
                 </script>
                <div id="kontingent">
                    <h2>
                    Betal kontingent</h2>
                    <a class="button halfquota" href="#">Halvt år - £@settings.HalfYearPrice</a>
                    <br />
                    <a class="button fullquota" href="#">Helt år - £@settings.FullYearPrice</a>
                    <br/>
                    <a class="button mail green" href="#">Har betalt</a>
                    <br/>
                    <i>Vælg 'Har Betalt' hvis du f.eks. har betalt i parken</i>
                    <br/>
                    <br/>
                </div>
            }
        </div>
    </div>
}
