﻿@using umbraco.MacroEngines
@{
    var root = (DynamicNode)Model;
    DynamicNodeList children = null;
    if (root.Parent.NodeTypeAlias == "Section")
    {
        children = root.Parent.GetChildrenAsList;
    }
}
@if (children!=null && children.Items.Count != 0)
{
    <nav class="horizontal-nav full-width">
        <ul>
            @foreach (DynamicNode child in children)
            {
                <li><a href="@child.Url">@child.Name</a></li> 
            }
        </ul>
    </nav>
}

