﻿@using log4net
@using teamdk.Backend.DomainModel
@using teamdk.Backend.DomainModel.UmbracoObjectsDataContext
@using umbraco.cms.businesslogic.member
@inherits umbraco.MacroEngines.DynamicNodeContext
@{
    Culture = "da-DK";
    var lukket = false;
    var gemt = false;
    var kunMedlemmmer = false;
    if (Model.lukForTilmeldinger)
    {
        lukket = true;
    }
    if (Model.visIkkeTilmeldKnap)
    {
        gemt = true;
    }
    if (Model.kunForMedlemmer)
    {
        kunMedlemmmer = true;
    }
    var evt = @Model;
    DateTime theDate = DateTime.MinValue;
    try
    {
        theDate = evt.Tidspunkter[0];

}catch
    {
<h1>Der er ikke sat et tidspunkt</h1>
    }
    var ico = "";
    switch ((String)evt.Aktivitet)
    {
        case "Alle":
            ico = "star.png";
            break;
        case "Løb":
            ico = "løb.png";
            break;
        case "Fodbold":
            ico = "bold.png";
            break;
        case "Golf":
            ico = "golf.png";
            break;
        case "Social":
            ico = "cocktail.png";
            break;
        default:
            ico = "star.png";
            break;
    }

    Event strongEvent = TeamDkDataContext.Instance.Events.Single(e => e.Id == evt.Id);
    var knap = "knap_" + Model.Id;
    var umbracoMem = Member.GetCurrentMember();
    var memId = 0;
    Medlem medlem = null;
    if (umbracoMem != null)
    {
        medlem = new Medlem(umbracoMem);
        memId = medlem.Id;
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        @if (memId != 0)
        {<text>
        $(".tilmeldKnap").click(function () {
            $('#@knap').fadeOut('slow', function () {
                $.ajax({
                    url: "/Backend/WebServices.asmx/Tilmeld",
                    data: "{ 'eventId': '@Model.Id', 'memberId': '@memId' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $('#@knap').addClass('green');
                        $('#@knap').removeClass('add');
                        $('#@knap').addClass('save');
                        $('#@knap').text('Du er tilmeldt');
                        $('#@knap').fadeIn('slow');
                        HentDeltagere(@Model.Id);
                        $('.frameldKnap').fadeIn('slow');
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            });
        });
        $(".frameldKnap").click(function () {
            $('.frameldKnap').fadeOut('slow', function () {
                $.ajax({
                    url: "/Backend/WebServices.asmx/Frameld",
                    data: "{ 'eventId': '@Model.Id', 'memberId': '@memId' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $('#@knap').removeClass('save');
                        $('#@knap').removeClass('green');
                        $('#@knap').addClass('add');
                        $('#@knap').text('tilmeld');
                        $('#@knap').fadeIn('slow');
                        HentDeltagere(@Model.Id);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            });
        });


        </text>

            if (!strongEvent.StronglyTypedEventType.Gratis)
            {
                <text>
        $(".købKnap").click(function () {
            $('.købKnap').fadeOut('slow', function () {
                $.ajax({
                    url: "/Backend/WebServices.asmx/SetupPayment",
                    data: "{ 'eventId': '@Model.Id', 'memberId': '@memId' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        window.location.replace("/PaymentRedirect.aspx");
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            });
        });
        </text>
            }
        }
        else
        {<text>
        $(".tilmeldKnap,.købKnap").replaceWith("<a class='button add iframe loginKnap' href='/login'>login og tilmeld</a>");

        if ($(window).width() < 600) {
            $(".iframe").colorbox({ iframe: true, width: "90%", height: "90%" });
        }
        else {
            $(".iframe").colorbox({ iframe: true, width: "60%", innerHeight: "60%" });
        }


        </text>
        }

    });
</script>
@if (ico != "")
{
    <img src="/image/@ico" alt="icon" height="64px" width="64px" />
}
<h1>@evt.Name</h1>
@if (!gemt)
{

if (!lukket)
{
    if (kunMedlemmmer)
    {
        <h2>Kun for betalende medlemmer</h2>
    }

    <div class="knapDiv">
        @if (strongEvent.NextTidspunkt >= DateTime.Now)
        {
            if (strongEvent.ErTilmeldt(memId))
            {
                <a class="button save green" href="#" id="@knap">Du er tilmeldt</a>
                if (strongEvent.StronglyTypedEventType.Gratis)
                {
                    <a class="frameldKnap button gray" href="#">Frameld igen</a>

                }
            }
            else
            {

                if (strongEvent.StronglyTypedEventType.Gratis)
                {
                    if (kunMedlemmmer&&(medlem.MedlemsType==MedlemsTypeEnum.Passivt))
                    {
                     <p>Du skal være betalende medlem for at kunne tilmelde dig. Du kan betale på forsiden</p>
                    }
                    else
                    {
                        <a class="button add tilmeldKnap" href="#" id="@knap">Tilmeld</a>
                        <a class="frameldKnap button gray" href="#" style="display: none">Frameld igen</a>
                    }

                }
                else
                {
                    if (strongEvent.StronglyTypedEventType.DiffBetaling)
                    {
                        if (medlem != null && medlem.MedlemsType == MedlemsTypeEnum.Passivt)
                        {
                            if (!kunMedlemmmer)
                            {
                                <a class="button add købKnap" href="#" id="@knap">Tilmeld for £@strongEvent.StronglyTypedEventType.DiffPris</a>
                            }
                            <a class="button add disabled" href="#" id="">Betalende medlemmer £@strongEvent.StronglyTypedEventType.Pris</a>
                        }
                        else
                        {
                            if (strongEvent.StronglyTypedEventType.Pris < 1)
                            {
                                <a class="button add tilmeldKnap" href="#" id="@knap">Tilmeld</a>
                            }
                            else
                            {
                                if (kunMedlemmmer && (medlem.MedlemsType == MedlemsTypeEnum.Passivt))
                                {
                                    <p>Du skal være betalende medlem for at kunne tilmelde dig. Du kan betale på forsiden</p>
                                }
                                else
                                {
                                    <a class="button add købKnap" href="#" id="@knap">Tilmeld for £@strongEvent.StronglyTypedEventType.Pris</a>
                                }
                            }
                        }
                    }
                    else
                    {
                        if (kunMedlemmmer && (medlem.MedlemsType == MedlemsTypeEnum.Passivt))
                        {
                            <p>Du skal være betalende medlem for at kunne tilmelde dig. Du kan betale på forsiden</p>
                        }
                        else
                        {
                            <a class="button add købKnap" href="#" id="@knap">Tilmeld for £@strongEvent.StronglyTypedEventType.Pris</a>
                        }
                    }
                }
            }
        }
    </div>
}
else
{
    <div class="borderBottom"></div>
    <div cl class="borderBottom">
        <h2>Der er nu lukket for tilmeldinger</h2>
        Du kan evt. tage fat i os på <a href="http://www.facebook.com/danskereilondon">Facebook</a>
    </div>
}
}

<h2>Hvornår:</h2>
<div id="hvornår">
    @theDate.ToString("dddd") @theDate.ToShortDateString()
</div>
@if (!strongEvent.StronglyTypedEventType.Gratis)
{
    <h2>Hvor meget:</h2>
    <div id="hvormeget">
        @if (strongEvent.StronglyTypedEventType.DiffBetaling)
        {
            <text> Medlemmer: £@strongEvent.StronglyTypedEventType.Pris<br />
            Ikke Medlemmer: £@strongEvent.StronglyTypedEventType.DiffPris
            </text>
        }
        else
        {
            <text>£@strongEvent.StronglyTypedEventType.Pris</text>
        }
    </div>

}
@if (evt.sted != "")
{
    <h2>Hvor:</h2>
    <div class="map gmap" id="map">
        @* If this seems too easy.. it is. The magic happens in /js/gmap.js. How's that for unobtrusive javascript! :-) *@
        @evt.sted
    </div>}

