﻿<%@ Master Language="C#" MasterPageFile="~/masterpages/ClearMaster.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderId="Header" runat="server">
          <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/Buttons.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
   <script type="text/javascript" src="/scripts/facebook.js"></script>
</asp:Content>

<asp:Content ContentPlaceHolderID="Master" runat="server">
    <div class="row" >
        <div class="row">
            <div class="twelvecol last logincol">
                <h1>
                    <umbraco:Item ID="Item1" Field="header" runat="server" />
                </h1>
                <umbraco:Item ID="Item2" Field="content" runat="server" />
            </div>
        </div>
    </div>
</asp:Content>