﻿<%@ Master Language="C#" MasterPageFile="~/umbraco/masterpages/default.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="ContentPlaceHolderDefault" runat="server">
    <!doctype html public '//w3c//dtd xhtml 1.0 transitional//en' 'http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd'>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <umbraco:Macro runat="server" Language="cshtml"><title>@(!string.IsNullOrEmpty(Model.pageTitle)
            ? Model.pageTitle : "Team Denmark FC - "+Model.Name) </title>@if (@Model.HasProperty("metatagkeywords"))
            {
            <meta name="keywords" content="@Model.metatagkeywords" />
            } @if (@Model.HasProperty("metatagdescription")) {
            <meta name="description" content="@Model.metatagdescription" />
            } @if (@Model.HasProperty("useSSL")) { if (@Model.useSSL==true){ if (!Request.Url.ToString().StartsWith("https"))
            { Response.Redirect(Request.Url.ToString().ToLower().Replace("http:", "https:"),
            true); } } } </umbraco:Macro>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/style.css?v=3">
        <link rel="stylesheet" href="/css/Buttons.css">

        <link href="/css/1140.css" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet'
            type='text/css'>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-17668559-16']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/scripts/css3-mediaqueries.js"></script>
        <script type="text/javascript" src="/scripts/clientMenu.js"></script>
        <script type="text/javascript" src="/scripts/facebook.js"></script>
        <script type="text/javascript" src="/scripts/jquery.horizontalNav.js"></script>
        <asp:ContentPlaceHolder runat="server" ID="MasterHead">
        </asp:ContentPlaceHolder>
		<umbraco:Macro Alias="LoginHider" runat="server" />
    </head>
    <body class="bg-glow">
    
        <div class="row topRow">
            <nav class="clearfix">
                    <umbraco:Macro ID="Macro1" Alias="MenuRender" runat="server" />
                    <a href="#" id="pull">Menu</a>
      	        </nav>
        </div>
        <div id="logoRow">
            <a href="/">Home</a>
        </div>
        <div class="container" id="MainContainer">
                <form runat="server" id="aspnetForm">
                <asp:contentplaceholder id="Master" runat="server">
                  <!-- This is where the main content ends up -->
                </asp:contentplaceholder>
                </form>
                <div class="row borderTop">
                    <div class="twelvecol">
                        &copy; Team Denmark FC 2013
                    </div>
                </div>
            </div>
    </body>
</asp:Content>