﻿<%@ Master Language="C#" MasterPageFile="~/masterpages/Master.master" AutoEventWireup="true" %>

<%@ Register src="../usercontrols/Controls/OrderReciept.ascx" tagname="OrderReciept" tagprefix="uc1" %>

<asp:content ContentPlaceHolderId="MasterHead" runat="server">
	
</asp:content>

<asp:content ContentPlaceHolderId="Master" runat="server">
     <div class="row" id="mainRow">
        <div class="row">
			<div class="twelvecol last">
			    <uc1:OrderReciept ID="OrderReciept1" runat="server" />
			</div>
           
        </div>
    </div>
</asp:content>