﻿<%@ Control Language="C#" ClassName="DevInfo" %>
<h1>Udvikler info</h1>
<h2>Dns</h2>

<a href="http://www.gratisdns.dk" target="_blank">www.gratisdns.dk</a>
Login: teamdkfc / TDFC2004 
<hr/>
<h2>Hosting</h2>
<a href="http://manage.windowsazure.com" target="_blank">manage.windowsazure.com</a>
login: teamdk@kmail.dk / TDFC2004#
<hr/>
<h2>Ftp fil adgang</h2>
waws-prod-db3-001.ftp.azurewebsites.windows.net
<br/>
login: teamdk\teamdk \ TDFC2004
<hr/>
<h2>Database</h2>
<add key="umbracoDbDSN" value="Server=tcp:ak4qnjqb82.database.windows.net,1433;Database=Umbraco745;User ID=umbraco@ak4qnjqb82;Password=firetruck2012#;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
<br/>
umbracouser/TDFC2004#
<hr/>
<h2>mailchimp</h2>
login: tdfc / TDFC2004
<hr/>
<h2>surveymonkey</h2>
login: teamdkfc / TDFC2004#
<hr/>
<h2>DK hostmaster</h2>
User ID: KHS214-DK<br/>
Password:7pqj!wQkn^8z
<hr/>
<h2>asp.net kildekode</h2>
<p>Kan åbnes i Visual studio 2012 og formodentlig også i VS express</p>
<a href="https://khschneider@bitbucket.org/khschneider/tdfc.git">https://khschneider@bitbucket.org/khschneider/tdfc.git</a>




