﻿<title>@(!string.IsNullOrEmpty(Model.pageTitle)
            ? Model.pageTitle : "Team Denmark FC - "+Model.Name) </title>@if (@Model.HasProperty("metatagkeywords"))
            {
            <meta name="keywords" content="@Model.metatagkeywords" />
            } @if (@Model.HasProperty("metatagdescription")) {
            <meta name="description" content="@Model.metatagdescription" />
            } @if (@Model.HasProperty("useSSL")) { if (@Model.useSSL==true){ if (!Request.Url.ToString().StartsWith("https"))
            { Response.Redirect(Request.Url.ToString().ToLower().Replace("http:", "https:"),
            true); } } }